body{
    background-color:#f1f1f1;
}

.navbar{
    padding: 8px;
    background: rgb(255, 247, 247);
}

.navbar li{
    display: inline-block;
    padding: 20px;
    text-align: right;
}

.container{
    align-items: right;
}

a {
    color: inherit;
}
.navigation .navbar-brand{
    font-weight: bold;
    font-size: x-large;
}

.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:rgb(165, 155, 155)!important; 
}

img{
    width: 100%;
    height: 100%;
}
@media (max-width: 600px) {
.navbar-expand-lg{
    background-color: lightcoral;
}
.navbar{
    max-height: none;
    padding: inherit;
    }
.navbar div{
    margin: inherit;
    background-color: ivory;
}
.navbar-brand{
    padding: 10px;
}

}