body{
    background-color:#f1f1f1;
}

.navbar{
    padding: 8px;
    background: rgb(255, 247, 247);
}

.navbar li{
    display: inline-block;
    padding: 20px;
    text-align: right;
}

.container{
    align-items: right;
}

.sel{
    border: 0px;
    outline: 0px;
   width: auto;
}

a {
    color: inherit;
}